Flask
google-generativeai
requests
cryptography
SpeechRecognition
pygame
gtts
numpy
scipy
gradio
transformers
torch
Pillow
flask-cors
fuzzywuzzy
imagehash
opencv-python-headless
dnspython
tldextract
whois
logging
