Flask
google-generativeai
requests
cryptography
SpeechRecognition
pygame
gtts
numpy
scipy
gradio
transformers
torch
Pillow
json
requests
time
logging
hashlib
os
base64
pygame
subprocess
ipaddress
traceback
pyaudio
wave
numpy
transformers
torch
io
flask_cors
socket
re
subprocess
shutil

