  <html>
    <head>

        <title>


        </title>
        <link rel="stylesheet" href="homefinal.css">
        <script type="module" src="homefinal.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


    </head>
    <body>

   
        <main>
            <ul class='slider'>
              <li class='item' style="background-image: url('scene-with-business-person-working-futuristic-office-job.jpg')">
                <div class='content'>
                  <h1 class='title'>WEBSEEKER</h1>
                  <p class='description'> Webseeker is a web security tool designed to scan URLs or domains. It leverages VirusTotal for virus and malware detection and performs Nmap scans to identify open ports and vulnerabilities. The tool provides comprehensive insights into web security by combining multiple security checks.
                  </p>
                  <div class="button" id="id">
                    <button id="ws">WEB SEEKER</button>
                    </div>
                </div>
              </li>
              <li class='item' style="background-image: url('cyber-security-concept-digital-art.jpg')">
                <div class='content'>
                  <h1 class='title'>INFOSIGHT_AI</h1>
                  <p class='description'> INFOSIGHT_AI is an AI-driven tool focused on gathering and analyzing data from various sources. It uses machine learning algorithms to detect patterns, trends, and anomalies, offering valuable insights for decision-making. The tool is ideal for research, business intelligence, and cybersecurity.
                  </p>
                  <div class="button" id="id">
                    <button id="IS">INFOSIGHT_AI</button>
                    </div>
                </div>
              </li>
              <li class='item' style="background-image: url('cyber-security-concept-digital-art (2).jpg')">
                <div class='content'>
                  <h1 class='title'>INFOCRYPT</h1>
                  <p class='description'>INFOCRYPT is a secure encryption tool designed to protect sensitive information. It employs advanced cryptographic algorithms to ensure data confidentiality and integrity. Users can encrypt and decrypt files or text, safeguarding against unauthorized access and data breaches.
                  </p>
                  <div class="button" id="id">
                    <button id="IC">INFOCRYPT</button>
                    </div>
                </div>
              </li>
              <li class='item' style="background-image: url('person-suffering-from-technology-addiction-cybersickness (1).jpg')">
                <div class='content'>
                  <h1 class='title'>LANA_AI</h1>
                  <p class='description'>
                    LANA_AI is an intelligent virtual assistant that utilizes generative AI models for natural language processing. It can handle voice and text interactions, providing accurate responses and performing tasks based on user commands. LANA_AI is designed to enhance productivity and user experience.
                  </p>
                  <div class="button" id="id">
                    <button id="LA">LANA</button>
                    </div>
                </div>
              </li>
              <li class='item' style="background-image: url('3d-rendering-blockchain-technology (1).jpg')">
                <div class='content'>
                  <h1 class='title'>TRACKLYST</h1>
                  <p class='description'>
                    Trackylst is a tool used to fetch usernames from all possible social media platforms. It helps users track their digital presence and find profiles across various networks. This tool is beneficial for personal branding, security checks, and online reputation management.
          
                      </p>
                      <div class="button" id="id">
                        <button id="TL">TRACKLYST</button>
                        </div>
                </div>
              </li>
              <li class='item' style="background-image: url('freepik-export-20240722110227x3qs.jpeg')">
                <div class='content'>
                  <h1 class='title'>CYBERSENTRY_AI</h1>
                  <p class='description'>CyberSentry_AI is a bot specially made for cybersecurity and also functions as a normal bot. It continuously monitors networks, identifies suspicious activities, and provides real-time alerts to mitigate threats. CyberSentry_AI ensures robust security while also handling regular bot tasks.
                  </p>
                  <div class="button" id="id">
                    <button id="CS">CYBERSENTRY_AI</button>
                    </div>
                </div>
              </li>
              <li class='item' style="background-image: url('https://da.se/app/uploads/2015/09/simon-december1994.jpg')">
                <div class='content'>
                  <h1 class='title'>""</h1>
                  <p class='description'>
                  </p>
                  <div class="button" id="id">
                    <button id="none">none</button>
                    </div>
                </div>
              </li>
              <li class='item' style="background-image: url('freepik-export-202407221603542q7X.jpeg')">
                <div class='content'>
                  <h1 class='title'>PORTSCANNER</h1>
                  <p class='description'>  Portscanner is a network security tool used to identify open ports on a target system. By scanning for vulnerabilities, it helps in assessing the security posture of networks and devices. Portscanner is essential for penetration testing and network security audits.
                    
                  </p>
                  <div class="button" id="id">
                    <button id="PS">PORTSCANNER</button>
                    </div>
                </div>
              </li>
              <li class='item' style="background-image: url('global-business-internet-network-connection-iot-internet-things-business-intelligence-concept-busines-global-network-futuristic-technology-background-ai-generative.jpg')">
                <div class='content'>
                  <h1 class='title'>TELECHECK</h1>
                  <p class='description'> Telecheck is used to get basic details of a mobile number. It can provide information such as the carrier, location, and validity of the number. Telecheck is useful for verifying contacts and ensuring accurate data in communication systems.

                  </p>
                  <div class="button" id="id">
                    <button id="TC">TELECHECK</button>
                    </div>
                </div>
              </li>
            
            </ul>
            <nav class='nav'>
              <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
              <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
            </nav>
          </main>
        
          <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
    </html>